*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.full_wrapper{
	width: 100%;
}

.wrapper{
	width: 960px;
	margin: auto;
}

/*top header css start*/
.top_header{
	height: 40px;
	background-color: #bd070e;
}

.top_header_left{
	width: 20%;
	float: left;
}

.top_header_left h2{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 9px;
}

.top_header_mid{
	width: 60%;
	float: left;
}

.top_header_mid marquee{
	color: #fff;
	padding-top: 11px;
}

.top_social_icon{
	width: 20%;
	float: left;
}

.top_social_icon a img{
	width: 25px;
	padding-top: 8px;
}
/*top header css end*/

/*header part css start*/
.header{
	height: 150px;
}

.header_left{
	width: 40%;
	float: left;
}

.header_left a{
	color: #fff;
	background-color: #bd070e;
	padding: 10px;
	margin-top: 40px;
	display: inline-block;
	border-radius: 5px;
} 

.header_logo{
	width: 20%;
	float: left;
	padding-top: 20px;
}

.header_logo a img{
	width: 60px;
}

.header_right{
	width: 40%;
	float: left;
	padding-top: 50px;
}

.header_right .search_box{
	width: 200px;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border: 0;
	background-color: #ddd;
	border-radius: 5px 0 0 5px;
}

.header_right .search_btn{
	height: 30px;
	width: 60px;
	color: #fff;
	border: 0;
	background-color: #bd070e;
	border-radius: 0 5px 5px 0;
	margin-left: -5px;
	cursor: pointer;
}
/*header part css end*/